<div>I'm the admin page</div>
<div>Do you wanna reset stuff?</div>
<button onclick="resetQuiz()">Reset Quiz</button>
<div></div>
<div></div>
<button onclick="resetUsers()">Reset All User names</button>
<div></div>
<div></div>
<button onclick="resetEverything()">Reset EVERYTHING</button>
<div></div>
<div></div>
<button onclick="testABunchOfUsers()">Test a bunch of fake users</button>
<div></div>
<div></div>

<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
