.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.DisplayContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
}

.RegistryDisplay {
  height: 100%;
  flex-basis: 37%;
  overflow-y: scroll;
}

.QuizDisplay {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
  flex-basis: 61%;
}

.QuizQuestion {
  height: 400px;
  flex-grow: 1;
  flex-basis: 48%;
  border: 1px solid #f2f2f2;
  margin: 4px;
}

.QuestionText {
  margin: 20px 10px 20px 10px;
  text-align: center;
}

.QuestionGraph {
  height: 300px;
}

/*registry*/
.JustCreated {
  animation: pulse_red_lightly 1 1s linear;
}

.justVoted {
  background-color:#915974;
}

.Inactive {
  background-color: white;
}

.QuizComplete {
  background-color:#485672;
}

.RegistryHeader {
  text-align: center;
  padding: 8px 0 8px 0;
  margin: 0 8px 0 8px;
  border-bottom: 1px solid #dadada;
}

.UserName {
  text-align: center;
  width: 100%;
  margin: 6px 3px 6px 3px;
}

@keyframes pulse_red_lightly {
  0%   {background-color: white;}
  15%  {background-color: #e60023;}
  40%  {background-color: white;}
  100% {background-color: white;}
}


@keyframes name-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
